
<div data-ng-init="init()">

<!--   <div ng-repeat="item in videosData">
        <div id="{{item.id_youtuber}}">
            <p>{{item.artiste}}</p>
        </div>
    </div> -->

  <div style="height: 235px;" ng-repeat="item in videosData">
    <ul style="width: 1012px; left: 0px;">
      <li>
        <a ui-sref="level({id: item.id})" tabindex="-1" title="{{item.artiste}}" + " - " + "{{item.music}}"> 
          <img src="http://img.youtube.com/vi/{{item.id_youtuber}}/mqdefault.jpg" alt="{{item.artiste}}" + " - " + "{{item.music}}">
        </a>
      </li>
    </ul>
  </div>  
  <div id="current">a</div>
</div>
